:root {
  --black: #000000;
  --white: #ffffff;

  --bg-img: url('https://images.unsplash.com/photo-1461229813543-5c214846bb3f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2071&q=80');
}
