@import 'src/styles/variables';

html,
body {
  box-sizing: border-box;
}

body {
  margin: 0px;
  overflow-x: hidden;
  padding: 0px;
  height: 100vh;
  background-image: var(--bg-img);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  font-family: 'Open Sans', sans-serif;
}
